* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
:target {
    scroll-margin-top: 104px;
  }

  .container-parallax1 video{
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("img/barbearia.jpg") no-repeat center;
  background-size: cover;
}
#servicos{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
figcaption{
  text-align: center;
}
figure{
  display: flex;
  width: 180px;
  margin: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
figure img{
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 10%;
  padding: 2px;
}

.container-parallax1,
.container-parallax2,
.container-parallax3,
.container-parallax4,
.container-parallax5 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.topo {
    width: 100vw;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
}

.topo img {
    width: 100px;
    position: relative;
    left: 15%;
}

.topo div {
    position: absolute;
    top: 35%;
    right: 15%;
}

.topo div a {
    margin-right: 20px;
    font-size: 18px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 3px 5px 2px #000000;
    letter-spacing: 2px;
    color: #c4a47c;
}

/* Container Parallax 1 */
.container-parallax1 {
    background-color: #000000;
    z-index: -1000;
    height: 100vh;
}

.container-parallax1 h1 {
    top: 90%;
    right: 0;
    left: 0;
    position: absolute;
    color: #fff;
    text-align: center;
    font-weight: 400;
    font-family: "Fraunces", serif;
    font-size: 40px;
}

/* Container Parallax 2 */
.container-parallax2 {
    background-image: url("img/parallax-imagem2.jpg");
    height: 50vh;
}

.container-parallax2 h3,
.container-parallax3 h3 {
    width: 500px;
    padding: 10px;

    position: relative;
    top: 45%;
    right: 0;
    left: 0;
    margin: auto;

    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    font-family: "Fraunces", sans-serif;
    text-align: center;
    letter-spacing: 2px;
    background-color: #604829;
    color: #fff;
}



.container-parallax3 {
    background-image: url("img/parallax-imagem3.jpg");
    height: 50vh;
}



.container-parallax4 {
    background-image: url("img/parallax-imagem4.png");
    height: 100vh;
}

.container-parallax4 h2 {
    width: 500px;
    padding: 10px;
    position: relative;
    top: 10%;
    right: 0;
    left: 0;
    margin: auto;
    font-size: 24px;
    font-family: "Oswald", serif;
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
}

.container-parallax4 iframe {
    position: absolute;
    top: 35%;
    width: 45%;
    height: 40%;
    left: 0;
    right: 0;
    margin: auto;
}

.container-contatos {
    width: 500px;
    padding: 10px;
    position: absolute;
    bottom: 8%;
    right: 0;
    left: 0;
    margin: auto;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.9);
}

.container-contatos p {
    color: #fff;
    font-family: "Oswald", sans-serif;
    line-height: 36px;
    text-shadow: 0px 6px 8px #000000;
    text-align: center;
}



.container-texto {
    padding: 80px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 1px;
/*    text-align: center;*/
    color: #666;
    background-color: black;
}

.container-texto h2 {
    margin-bottom: 30px;
    font-size: 24px;
    letter-spacing: 2px;
    font-family: "Oswald", sans-serif;
    color: #c4a47c;
}

.container-texto p {
    max-width: 1024px;
/*    padding: 0px 20px;*/
    margin: 0 auto;
    font-family: "Lato", "sans-serif";
    line-height: 34px;
    letter-spacing: 1px;
    color: #666;
}


.container-parallax5 {
    height: 85vh;
    background-image: url("img/barbearia.jpg");
}

.container-parallax5 h2 {
    position: absolute;
    margin: 0 auto;
    top: 10%;
    right: 0;
    left: 0;
    font-family: "Oswald", sans-serif;
    text-align: center;
    letter-spacing: 8px;
    color: white;
}

.lista-horarios { 
    max-width: 768px;
    position: absolute;
    margin: 0 auto;
    bottom: 20%;
    right: 0;
    left: 0;
    font-family: "Oswald", sans-serif;
    list-style: none;
}

.lista-horarios li { 
    position: relative;
}

.lista-horarios li h3 { 
    margin-bottom: 20px;
    color: #fff;
}

.lista-horarios li div { 
    width: 70%;
    height: 1px;
    position: absolute;
    margin: 0 auto;
    top: 50%;
    right: 0;
    left: 0;
    background-color: #ACACAC
}

.lista-horarios li p,
.texto-marrom { 
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    font-family: "Oswald", sans-serif;
}

.texto-marrom {
    color: #c4a47c;
}

.lista-horarios li p {
    color: #ACACAC;
}


.container-rodape {
    position: relative;
    padding: 20px 0;
    line-height: 34px;
    letter-spacing: 2px;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    text-align: center;
    background-color: #000000;
    color: #fff;
}

.container-rodape span {
    color: #c4a47c;
}

.container-rodape svg path{
    fill: #00c244;
}
.container-rodape svg:hover path{
    fill: orange;
}
.container-rodape a {
    display: inline-block;
    position: fixed;
    bottom: 5%;
    right: 5%;
    background-position: center;
    background-size: cover;
}
/*menu*/

/*fim-menu*/
/*letreiro*/
@font-face {
    font-family: 'neontubes';
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot");
    src: url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.eot?#iefix") format("embedded-opentype"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff2") format("woff2"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.woff") format("woff"), url("https://bitbucket.org/kennethjensen/webfonts/raw/fc13c1cb430a0e9462da56fe3f421ff7af72db71/neontubes/neontubes-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
   
  .main {
    display: block;
    position: absolute;
    top: 85%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 40vw;
    height: auto;
    font-family: "neontubes";
    text-align: center;
    white-space: nowrap;
  }
  .main span {
    display: none;
    position: relative;
    -webkit-transform: translateZ(0) translate3D(0, 0, 0);
            transform: translateZ(0) translate3D(0, 0, 0);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    will-change: opacity;
  }
  .main #fechado {
    font-size: 6vw;
    color: #ffd9e2;
    text-shadow: 0 0 0 transparent, 0 0 10px #ff003c, 0 0 20px rgba(255, 0, 60, 0.5), 0 0 40px #ff003c, 0 0 100px #ff003c, 0 0 200px #ff003c, 0 0 300px #ff003c, 0 0 500px #ff003c, 0 0 1000px #ff003c;
    -webkit-animation: blink 4s infinite alternate;
            animation: blink 4s infinite alternate;
  }
  .main #aberto {
    font-size: 7vw;
    color: #d4eaff;
    text-shadow: 0 0 0 transparent, 0 0 10px #2695ff, 0 0 20px rgba(38, 149, 255, 0.5), 0 0 40px #2695ff, 0 0 100px #2695ff, 0 0 200px #2695ff, 0 0 300px #2695ff, 0 0 500px #2695ff;
    -webkit-animation: buzz 0.01s infinite alternate;
            animation: buzz 0.01s infinite alternate;
  }
   
  @-webkit-keyframes buzz {
    70% {
      opacity: 0.80;
    }
  }
   
  @keyframes buzz {
    70% {
      opacity: 0.80;
    }
  }
  @-webkit-keyframes blink {
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }
  }
  @keyframes blink {
    40% {
      opacity: 1;
    }
    42% {
      opacity: 0.8;
    }
    43% {
      opacity: 1;
    }
    45% {
      opacity: 0.2;
    }
    46% {
      opacity: 1;
    }
  }
  /*fim do letreiro*/

@media screen and (max-width:767px) {
  :target {
    scroll-margin-top: 74px;
  }
  .lista-horarios{
    left: 2%;
    right: 2%;
  }
  .lista-horarios li div{
    width: 45%;
  }
    .container-parallax1 h1{
      top: 88%;
      font-size: 30px;
    }
    .container-parallax1 video{
      background-image: none;
    }
    .topo img {
      width: 70px;
      left: 0;
      margin-left: 20px;
  }
    /*#menu{
      display: none;
    }*/
    .topo div{
      right: 0;
    }
    .topo div a{
      font-size: 12px;
      align-items: flex-end;
    }
    .container-rodape a{
      right: 2%;
    }
    .main #aberto {
        font-size: 16vw;
        top: 70%;
        right: 30%;}
    .main #fechado {
        font-size: 16vw;
        top: 70%;
        right: 40%;}
    .container-parallax4 iframe {
      top: 35%;
      width: 80%;
      height: 40%;
      left: 0;
      right: 0;
      }
    .container-contatos {
      width: 350px;
   }
    .container-parallax4 h2 {
    width: 300px;}
    .container-parallax4 h2{
      font-size: 20px;
    }
    @supports ( -webkit-touch-callout : none) {
      .container-parallax4 {
      background-attachment:scroll
      }
      }
/*    .container-parallax4:after{
      content:"";
      position:fixed; 
      top:0;
      height:100vh; 
      left:0;
      right:0;
      z-index:-1; 
      background: url("img/parallax-imagem4.png") center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}*/
}
@media screen and (min-width:768px) and (max-width:1023px) {
  .container-parallax1 h1{
    top: 90%;
    font-size: 30px;
  }
  /*#menu{
      display: none;
    }*/
    .topo div{
      right: 5%;
    }
  .container-rodape a{
    right: 2%;
  }
    .main #aberto {
        font-size: 16vw;
        right: 11vw;}
    .main #fechado {
        font-size: 14vw;
        right: 11vw;}
    .container-parallax4 iframe {
      top: 35%;
      width: 350;
      height: 40%;
      left: 0;
      right: 0;

      }
}